@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
/* MARK:WORDS GUESS */
body {
  font-family: "JetBrains Mono", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-image: url("./imgs/sea2.jpg");
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 50% 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0px 0px 5px 5px;
}

.title-container {
  display: flex;
  padding-top: 40px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 40%;
  max-height: 65px;
  margin-bottom: 40px;
  .title {
    font-family: "Archivo Black";
    font-size: 2.7rem;
    font-weight: bold;
    color: white;
  }
}

.title-container > div {
  > img {
    border-radius: 50%;
    height: 120px;
  }
}

h1 {
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
#wordsContainer {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 380px;
  overflow-y: scroll;
}
.word-row {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.letter-boxes {
  display: flex;
}
.letter-box {
  width: 40px;
  height: 40px;
  border: 2px solid #007bff;
  border-radius: 5px;
  margin: 0 5px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.letter-box:hover {
  background-color: #e6f2ff;
}
.revealed {
  background-color: #007bff;
  color: white;
}
.buttons {
  display: flex;
}
.reveal-btn{
  width: 108px;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #218838;
}

.all-revealed {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
  animation: reveal-scale 0.1s ease-in-out;
}

.all-revealed-normalized {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

/* MARK:VOCAB-HINTS */
.hints-vocabs-wrapper {
  display: flex;
  width: 100%;
  width: 1040px;
  margin: 20px auto;
}

#hintContainer,
#vocabularyContainer {
  /* flex: 1;  */
  padding: 15px;
  box-sizing: border-box;
}

#hintContainer {
  flex: 0.4;
}
#vocabularyContainer {
  flex: 0.6;
}

#hintContainer {
  background-color: #f8f9fa;
  margin-top: 16px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
}

#vocabularyContainer {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

#newVocabButton,
#showAnswerButton {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#newVocabButton:hover,
#showAnswerButton:hover {
  background-color: #0056b3;
}

#vocabularyDisplay {
  width: 100%;
  height: 60px;
  font-size: 15px;
  text-align: center;
  color: #333;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-sizing: border-box;
}

#hint-btn {
  height: 100px;
  margin-top: 16px;
  border-radius: 5px 0px 0px 5px;
}

@keyframes reveal-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* MARK: SCOREBOARD */

#scoreboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    max-width: 300px;
    margin-bottom : 100px;
}

#scoreboard {
    width: 500px;
    border-collapse: collapse;
}

#scoreboard th,
#scoreboard td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#scoreboard th {
    width: 200px;
    background-color: #f2f2f2;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 5px;
}

#nameInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

#submitName {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#submitName:hover {
    background-color: #45a049;
}
.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
.delete-btn:hover {
    background-color: #ff1a1a;
}

#addPlayerButton {
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
  
#addPlayerButton:hover {
    background-color: #45a049;
}
